# Blood Transfusion Service Center Data Set download

In [14]:
import pandas as pd
pd.options.mode.chained_assignment = None

In [15]:
data = pd.read_csv('https://www.openml.org/data/get_csv/1586225/php0iVrYT')

In [16]:
data

     V1  V2     V3  V4  Class
0     2  50  12500  98      2
1     0  13   3250  28      2
2     1  16   4000  35      2
3     2  20   5000  45      2
4     1  24   6000  77      1
..   ..  ..    ...  ..    ...
743  23   2    500  38      1
744  21   2    500  52      1
745  23   3    750  62      1
746  39   1    250  39      1
747  72   1    250  72      1

[748 rows x 5 columns]

In [17]:
data.to_csv('blood-transfusion-service-center.csv', index=False)